<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Access Denied</title>
<meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <link rel="stylesheet" href="style.css" th:href="@{/style.css}"/>
</head>
<body>
    <div class="content">
        <div class="accessden">
            <h2>Sorry, you don't have the required permissions!</h2>
            <img src="https://iconarchive.com/download/i88574/icons8/ios7/Messaging-Sad.ico" alt="access denied">
            <div class="question">
                <h2>Try to navigate to the <a href="/">home page</a></h2>
            </div>
        </div>
    </div>
	
</body>
</html>